
@{
    ViewBag.Title = "Complete";
}

<h2>Estimate</h2>

<link rel="stylesheet" href="~/Content/apl.css" type="text/css" />

@using (Html.BeginForm("Index", "Top", FormMethod.Post))
{
    <div class=""><input type="submit" value="完了" id="" name="" /></div>
    <div class="cls"></div>
}
