
@{
    ViewBag.Title = "Confirm";
}

<h2>Estimate</h2>

<link rel="stylesheet" href="~/Content/apl.css" type="text/css" />

@using (Html.BeginForm("COMPLETE", "Estimate", FormMethod.Post))
{
    <div class=""><input type="submit" value="更新" id="" name="" /></div>
    <div class="cls"></div>
}
