
@{
    ViewBag.Title = "Index";
}

<h2>Estimate</h2>

<link rel="stylesheet" href="~/Content/apl.css" type="text/css" />

@using (Html.BeginForm("CONFIRM", "Estimate", FormMethod.Post))
{
    <div class=""><input type="submit" value="確認" id="" name="" /></div>
    <div class="cls"></div>
}

